<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fibonacci Errors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<form id="rendered-form">
    <div class="rendered-form">
        <div class="">
            <b><h1 access="false" id="control-4856032" style="font-family: Arial Black; align-content: center">Oops... 500</h1></b>
        </div>
        <div class="" style="width: 50%; margin: 0 auto; text-align: center;">
            <p th:text="${message}" style="font-weight:normal; font-family: Arial Black"/>
        </div>
        <div class="formbuilder-button form-group field-button-1583732763602" , style="width: 50%; margin: 0 auto; text-align: center;">
            <button type="button" class="btn-default btn" name="button-1583700597913" access="false" style="color: darkslategrey"
                    id="button-1583700597913">
                <a href="/calculation">Back</a><br>
            </button>
        </div>
    </div>
</form>
</body>
</html>